<h1>Current Inventory</h1>
<% @items.each do |x| %>
  <div class="item">
    <h4><%= x.name %></h4>
    <p><%= x.price %></p>
    <p><%= x.description %></p>
    <%= link_to "Show Details", item_path(x.id) %>
  </div>
  <% end %>
